@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Mono:wght@400;500&display=swap');

:root {
    --main-color: #660019;
    --accent-color1: #FFEBF0;
    --backgroundColor: #a9a9a9;
    --paneColor: #fffafa;
    --fontMain: 'Red Hat Display';
    --fontLogo: 'Aboreto';
}

/* ELEMENTS */

* {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
    font-family: var(--fontMain), sans-serif;
}

p {
    font-size: calc(10px + 1vw);
    font-weight: 500;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

/* CLASSES */

.headerButton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 10vw;
    height: 4vh;
    color: black;
    background: var(--paneColor);
    border: none;
    font-size: calc(8px + 0.8vw);
    font-family: var(--fontMain), sans-serif;
    font-weight: 500;
}

.headerButton:hover {
    background-color: rgb(120, 206, 150);
}

.headerButton > img {
    width: 1.5vw;
    height: 1.5vw;
}

.mainContent {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

/* IDs */

#baseContainer {
    height: 98vh;
    width: 99vw;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 8fr;
    gap: 10px;
}

#baseContainer > div {
    background-color: var(--paneColor);
    border-radius: 6px;
    box-shadow: 2px 2px darkslategray;
}

#sidebar {
    display: grid;
    grid-column: 1/1;
    grid-row: 1/-1;
    grid-template-rows: repeat(5, 1fr);
}

#cornerControls {
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row: 1/1;
    grid-column: 1/-1;
    align-items: center;
    justify-content: center;
}

#corpusLogo {
    width: calc(8px + 4vw);
    height: calc(8px + 4vw);
    display: block;
    object-fit: cover;
    grid-row: 1/-1;
    grid-column: 1/2;
}

#logoText {
    font-family: var(--fontLogo), var(--fontMain), sans-serif;
    font-size: calc(8px + 1vw);
    grid-column: 2/-1;
    text-align: left;
    grid-row: 1/-1;
    grid-column: 2/-1;
    color: black;
    padding-right: 10px;
    margin-left: -8px;
}

#sidebarCollapser {
    display: grid;
    align-items: center;
    justify-content: center;
}

#collapseButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#collapseButton:hover {
    background-color: rgb(226, 225, 225);
}

#minusCircle {
    width: 40px;n
    height: 40px;
}

#sidebarMenu {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr;
    grid-row: 2/-1;
    grid-column: 1/-1;
    align-items: center;
    justify-content: center;
}

#sidebarMenu > a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: calc(8px + 0.8vw);
    font-weight: 500;
    height: 100%;
    width: 100%;
    text-align: left;
}

#sidebarMenu > a:hover {
    background-color: rgb(245, 230, 230);
}

#sidebarMenu > a > img {
    height: 1.5vw;
    width: 1.5vw;
    min-width: 25px;
    min-height: 25px;
    display: grid;
    grid-column: 1/1;
    justify-self: center;
}

#header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column: 2/-1;
    grid-row: 1/2;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#welcome {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
}

#userContainer {
    display: flex;
    align-items: center;
    justify-content: right;
    justify-self: right;
    gap: 2vw;
    margin-right: 75px;
    width: 15vw;
}

#userContainer:hover {
    background-color: rgb(245, 230, 230);
}

#userName {
    display: grid;
    grid-row: 1/1;
    grid-column: -2/-1;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

#userImage {
    display: grid;
    grid-row: 1/1;
    grid-column: -1/3;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border: solid black 4px;
    border-radius: 100%;
    height: 3vw;
    width: 3vw;
    min-width: 50px;
    min-height: 50px;
}

#searchForm {
    display: grid;
    grid-row: 2/-1;
    grid-column: 1/2;
    align-items: center;
    justify-content: center;
    justify-self: center;
    height: 5vh;
    width: 35vw;
    grid-template-columns: 7fr 1fr;
    position: relative;
}

#searchForm > * {
    border-radius: 4px;    
    border: solid 1px black;
}

#searchBar {
    display: flex;
    background-color: white;
    height: 100%;
    width: 100%;
    font-size: clamp(10px, 2.2vw, 26px);
    font-weight: 300;
    font-family: var(--fontMain), sans-serif;
    padding-left: 55px;
}

#searchIcon {
    height: 60%;
    width: auto;
    border: none;
    position: absolute;
    left: 10px;
}

#headerButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
    width: 32vw;
    margin-right: 75px;
}

#content {
    display: grid;
    grid-column: 2/-1;
    grid-row: 2/-1;
    grid-template-columns: 4fr 1fr;
}

#contentMain {
    display: grid;
    grid-row: 1/-1;
    grid-column: 1/2;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

#contentSide {
    display: grid;
    margin-right: 50px;
    gap: 50px;
}

#contentSide > div {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
}

#contentSide > div > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contentSide > div > h1 {
    font-weight: 900;
    font-size: calc(12px + 1.2vw);
}

#sideContent2 {
    background-color: var(--main-color);
    color: white;
}
