@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Mono:wght@400;500&display=swap');

:root {
    --main-color: #660019;
    --accent-color1: #FFEBF0;
    --backgroundColor: #a9a9a9;
    --paneColor: #fffafa;
    --fontMain: 'Red Hat Display';
    --fontLogo: 'Aboreto';
}

/* ELEMENTS */

* {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
    font-family: var(--fontMain), sans-serif;
}

/* CLASSES */



/* IDs */

#baseContainer {
    height: 98vh;
    width: 99vw;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

#baseContainer > div {
    background-color: var(--paneColor);
    border-radius: 6px;
    box-shadow: 2px 2px darkslategray;
}

#sidebar {
    display: grid;
    grid-column: 1/1;
    grid-row: 1/-1;
    grid-template-rows: repeat(5, 1fr);
}

#cornerControls {
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#home {
    grid-row: 1/1;
    grid-column: 1/1;
}

#corpusLogo {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    min-height: 50px;
    min-width: 50px;
}

#logoText {
    font-family: var(--fontLogo), var(--fontMain), sans-serif;
    font-size: 1.5vw;
    grid-column: 2/-1;
    text-align: center;
}

#sidebarCollapser {
    display: grid;
    align-items: center;
    justify-content: center;
}

#collapseButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#collapseButton:hover {
    background-color: rgb(226, 225, 225);
}

#minusCircle {
    width: 40px;
    height: 40px;
    stroke-width:;
}

#sidebarMenu {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    grid-row: 2/-1;
    grid-column: 1/-1;
}

#sidebarMenu > a {
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    color: black;
    font-size: 1.8vw;
}

#sidebarMenu > a:hover {
    background-color: rgb(245, 230, 230);
}

#header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column: 2/-1;
    grid-row: 1/2;
    align-items: center;
}

#welcome {
    font-size: calc(12px + 1vw);
    font-weight: 500;
    text-align: center;
}

#searchForm {
    display: grid;
    width: 35vw;
    height: 3vh;
    grid-template-columns: 7fr 1fr;
    grid-row: 2/-1;
    gap: 10px;
    justify-self: center;
    margin-top: -25px;
}

#searchForm > * {
    border-radius: 4px;    
    border: solid 2px black;
}

#searchBar {
    background-color: white;
    font-size: 1.8vw;
    font-weight: 300;
    padding: 10px;
    font-family: var(--fontMain), sans-serif;
}

#searchButton {
    height: 100%;
    background-color: var(--main-color);
}

#content {
    display: grid;
    grid-column: 2/-1;
    grid-row: 2/-1;
}